[Desktop Entry]
Name=Cursor
Comment=AI-first code editor
Exec=/home/{{ primary_user }}/.local/bin/cursor.AppImage %F
Terminal=false
Type=Application
Icon=cursor
Categories=Development;IDE;
MimeType=text/plain;inode/directory;
StartupNotify=true
StartupWMClass=Cursor