{
    "Console Log": {
        "prefix": "log",
        "body": [
            "console.log(${1:'$2'});"
        ],
        "description": "Log to console"
    },
    "Arrow Function": {
        "prefix": "arrow",
        "body": [
            "const ${1:functionName} = (${2:params}) => {",
            "    ${3:// body}",
            "};"
        ],
        "description": "ES6 arrow function"
    }
}