{
    "Code Block": {
        "prefix": "code",
        "body": [
            "```${1:language}",
            "${2:code}",
            "```"
        ],
        "description": "Fenced code block"
    },
    "Link": {
        "prefix": "link",
        "body": [
            "[${1:text}](${2:url})"
        ],
        "description": "Markdown link"
    }
}