{
    "Python Main": {
        "prefix": "main",
        "body": [
            "def main():",
            "    ${1:pass}",
            "",
            "",
            "if __name__ == '__main__':",
            "    main()"
        ],
        "description": "Python main function"
    },
    "Python Class": {
        "prefix": "class",
        "body": [
            "class ${1:ClassName}:",
            "    \"\"\"${2:Class description}\"\"\"",
            "    ",
            "    def __init__(self${3:, args}):",
            "        ${4:pass}"
        ],
        "description": "Python class with init"
    }
}