# {{ themes_global_theme | capitalize }} theme for Alacritty
colors:
  primary:
    background: '{{ themes_terminal_profiles[themes_global_theme].background }}'
    foreground: '{{ themes_terminal_profiles[themes_global_theme].foreground }}'

  normal:
    black:   '{{ themes_terminal_profiles[themes_global_theme].black }}'
    red:     '{{ themes_terminal_profiles[themes_global_theme].red }}'
    green:   '{{ themes_terminal_profiles[themes_global_theme].green }}'
    yellow:  '{{ themes_terminal_profiles[themes_global_theme].yellow }}'
    blue:    '{{ themes_terminal_profiles[themes_global_theme].blue }}'
    magenta: '{{ themes_terminal_profiles[themes_global_theme].magenta }}'
    cyan:    '{{ themes_terminal_profiles[themes_global_theme].cyan }}'
    white:   '{{ themes_terminal_profiles[themes_global_theme].white }}'

  bright:
    black:   '{{ themes_terminal_profiles[themes_global_theme].black }}'
    red:     '{{ themes_terminal_profiles[themes_global_theme].red }}'
    green:   '{{ themes_terminal_profiles[themes_global_theme].green }}'
    yellow:  '{{ themes_terminal_profiles[themes_global_theme].yellow }}'
    blue:    '{{ themes_terminal_profiles[themes_global_theme].blue }}'
    magenta: '{{ themes_terminal_profiles[themes_global_theme].magenta }}'
    cyan:    '{{ themes_terminal_profiles[themes_global_theme].cyan }}'
    white:   '{{ themes_terminal_profiles[themes_global_theme].white }}'